<?xml version="1.0" encoding="utf-8" ?>
<routes>
    <route p="home" controller="PostController" action="showPosts"/>
    <route p="post" controller="PostController" action="showSinglePost" params="id"/>
    <route p="users" controller="UserController" action="showUsers"/>

    <!-- REST API -->
    <route p="comment" controller="CommentController" action="get" params="id" />
</routes>