<?xml version="1.0" encoding="utf-8" ?>
<routes>
    <route p="" controller="PostController" action="showPosts"/>
    <route p="post" controller="PostController" action="showSinglePost" params="id"/>
    <route p="users" controller="UserController" action="showUsers"/>
    <route p="add-post" controller="PostController" action="addPost"/>
    <route p="remove-post" controller="PostController" action="removePost"/>
    <route p="login" controller="UserController" action="showLogin"/>
    <route p="logout" controller="UserController" action="logout"/>
    <route p="404" controller="BaseController" action="show404"/>
    <route p="register" controller="UserController" action="showRegister" />
    <route p="account" controller="UserController" action="showAccount" />
    <route p="update-account" controller="UserController" action="showUpdateAccount" />
    <route p="remove-user" controller="UserController" action="removeUser" />
    <route p="remove-comment" controller="CommentController" action="remove" />

    <!-- REST API -->
    <route p="api-comment" controller="CommentController" action="api" params="id" />
    <route p="api-post" controller="PostController" action="api" params="id" />
    <route p="api-user" controller="UserController" action="api" params="id" />

</routes>