RewriteEngine On

ErrorDocument 404 /home

# REST API
RewriteRule ^api/v1/([a-z0-9-]+)(/?)([0-9]*)$ index.php?p=$1&id=$3 [QSA,NC,L]

# FRONTEND
RewriteRule ^([a-z0-9-]+)(/?)([0-9]*)$ index.php?p=$1&id=$3 [NC,L]
RewriteRule ^api/v1/([a-z0-9-]+)(/?)([0-9]*)$ index.php?p=$1&id=$3 [QSA,NC,L]
